<!-- Betting offers --> 					
<article class="right_column">
<!--  from  http://www.onlinebettingoffers.com/football-accumulator/ -->
<div>
		
<table class="latestBetting-table table table-bordered table-striped table-hover">
		<thead>
	      <tr>
	        <th>
	        	<div class="latestBetting-headerBackground">
				<div  class="latestBetting-headerText">											
					<span class="sidebarheader">Latest Offers</span>
				</div>
				</div>
			</th>
	      </tr>
	    </thead>
		    <tbody>
			<tr class="bet365-offer">
		        <td><!-- Offer #1 - Bet365-->	
		        	<span class="latestBetting-affiliateImage">    
					<img  alt="Bet 365" border="0" width="80" height="25" src="images/bookmakerlogo/bet365.jpg"></span>    
					<span class="latestBetting-affiliateOffer">£200 Free Bet</span>
					<a href="www.google.ie"></a>
					<span class="latestBetting-affiliateArrow">

					</span> 
				</td>
		    </tr>
		    <tr class="willHill-offer">
		        <td><!-- Offer #6 - William Hill-->
		        	<span class="latestBetting-affiliateImage">    
		        	<img alt="Get offer" border="0" width="80" height="25" src="images/bookmakerlogo/willhill.jpg">		
		        	</span>    

					<span class="latestBetting-affiliateOffer">£25 Free Bet</span>
					<span class="latestBetting-affiliateArrow">
						<img src="images/greenArrow.png" alt="Get offer" width="23" height="23" border="0"></span> 
					</td>
		    </tr>
		    <tr class="betFred-offer">
		        <td><!-- Offer #9 - Betfred-->
					<span class="latestBetting-affiliateImage">   
					 <img alt="Get offer" border="0" width="80" height="25" src="images/bookmakerlogo/betfred.jpg">		</span>    

					<span class="latestBetting-affiliateOffer">£50 Free Bet</span>
					<span class="latestBetting-affiliateArrow"></span> 
				</td>
		    </tr>
		    <tr class="paddyPower-offer">
		        <td><!-- Offer #2 - Paddypower-->
				<span class="latestBetting-affiliateImage">    
					<img alt="Get offer" border="0" width="80" height="25" src="images/bookmakerlogo/paddypower.gif">		
				</span>    

				<span class="latestBetting-affiliateOffer">£50 Free Bet</span>
				<span class="latestBetting-affiliateArrow"></span> 
			</td>
		    </tr>
			<tr class="skyBet-offer">
		        <td><!-- Offer #2 - skybet-->
					<span class="latestBetting-affiliateImage">    
						<img alt="Get offer" border="0" width="80" height="25" src="images/bookmakerlogo/skybet.jpg">		
					</span>    
					<span class="latestBetting-affiliateOffer">£50 Free Bet</span>
					<span class="latestBetting-affiliateArrow"></span> 
				</td>
		    </tr>
		    <tr class="stanJames-offer">
		        <td>
					<span class="latestBetting-affiliateImage">    
						<img alt="Get offer" border="0" width="80" height="25" src="images/bookmakerlogo/stanjames.jpg">		
					</span>    
					<span class="latestBetting-affiliateOffer">£50 Free Bet</span><span class="latestBetting-affiliateArrow"></span> 
				</td>
		      </tr>

		    </tbody>
		  </table>
</article>